<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <h2 class="m-5 text-center">Change Password</h2>
      <!-- {{changePassword.value|json}} -->
      <form action="" [formGroup]="changePassword" (ngSubmit)="changePasswordFn()">
        <mat-form-field appearance="fill" class="passwordSelector">
          <mat-label>Current Password</mat-label>
          <input matInput [type]="hide ? 'text' : 'text'" formControlName="currentPassword" >
        </mat-form-field><br><br>
        <mat-form-field appearance="fill" class="passwordSelector">
          <mat-label>New Password</mat-label>
          <input matInput [type]="hide ? 'text' : 'text'" formControlName="newPassword" >
        </mat-form-field><br><br>
        <button mat-raised-button color="primary" class="float-end " style="width: 150px; margin-right: 100px;"
        >Submit</button>
      </form>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>