<app-adminNavbar></app-adminNavbar>

<div class="container">
  <!-- {{editForm.value|json}} -->
  <h2 class="text-center mt-4 mat-display-1" style="margin: 0;">Edit Student</h2>
  <form [formGroup]="editForm" (ngSubmit)="editStudent()">
    <div class="row">
      <div class="col-md-6 ps-5 pe-5 py-4">

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Student Name</mat-label>
          <input matInput placeholder="Ex. John" autocomplete="off" formControlName="studentName" type="text">
        </mat-form-field><br><br>
        <mat-form-field appearance="fill" class="datePickerStyle">
          <mat-label>Date Of Birth</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="dob">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field><br><br>
        <mat-form-field appearance="fill" class="classSelector">
          <mat-label>Select Class</mat-label>
          <mat-select formControlName="class">
            <mat-option *ngFor="let classItem of classes" [value]="classItem.value">
              {{classItem.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field><br><br>
        <mat-form-field appearance="fill" class="divisionSelector">
          <mat-label>Select Division</mat-label>
          <mat-select formControlName="division">
            <mat-option *ngFor="let division of divisions" [value]="division.value">
              {{division.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-6 ps-5 pe-5 py-4">
        <mat-form-field appearance="fill" class="genderSelector">
          <mat-label>Select Subject</mat-label>
          <mat-select formControlName="subject">
            <mat-option *ngFor="let subject of subjects" [value]="subject.value">
              {{subject.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field><br><br>
        <mat-form-field appearance="fill" class="subjectSelector">
          <mat-label>Select Gender</mat-label>
          <mat-select formControlName="gender">
            <mat-option *ngFor="let gender of genders" [value]="gender.value">
              {{gender.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field><br><br>
        <form class="example-form">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput #message maxlength="256" placeholder="Ex. user@677" autocomplete="off" formControlName="username" readonly>
            <mat-hint align="start"><strong>Username Cannot be Changed</strong> </mat-hint>
          </mat-form-field><br><br>
          <mat-form-field appearance="fill" class="passwordSelector">
            <mat-label>Password</mat-label>
            <input matInput [type]="hide ? 'text' : 'text'" formControlName="password" >
          </mat-form-field>
        </form>
      </div>
    </div>
    <button mat-raised-button color="primary" class="float-end " style="width: 150px; margin-right: 100px;"
      >Submit</button>
  </form>
  <button mat-raised-button color="warn" class="goBackButton" style="width: 150px; margin-left: 200px;" [routerLink]="['/adminInterface']">Go Back</button>   


</div>